<div class="top-bar">
		<div class="top-bar-left">
			<ul class="menu">
				<li class="menu-text">E-commerce</li>
				<li><%= link_to "Productos", products_path %></li>
				<li class="menu">
					<%= link_to "Marcas", marks_path %>
      			</li>
      			<li class="menu">
					<%= link_to "Categorias", categories_path %>
      			</li>
			</ul>
	</div>
	<div class="top-bar-right">
		<ul class="menu">
			<% if user_signed_in? %>
				<li><%= current_user.email %></li>
				<li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %></li>
    		<% else %>	
				<li><%= link_to "Iniciar Sesion", new_user_session_path %></li>
			<% end %>
		</ul>
	</div>
	</div>
