<div class="top-bar">
		<div class="top-bar-left">
			<ul class="menu">
				<li class="menu-text">E-commerce</li>
				<li><%= link_to "Productos", products_path %></li>
				<li class="has-dropdown">
        			<a>Marcas</a>
        			<% @marks.each do |mark| %>
        			<ul class="dropdown">
	          			<li><%= link_to mark.name, mark %></li>
       				 </ul>
       				 <% end %>
      			</li>
      			<li class="has-dropdown">
        			<a>Categorias</a>
        			<% @categories.each do |category| %>
        			<ul class="dropdown">
	          			<li><%= link_to category.name, category %></li>
       				 </ul>
       				 <% end %>
      			</li>
			</ul>
	</div>
	<div class="top-bar-right">
		<ul class="menu">
			<% if user_signed_in? %>
				<li><%= current_user.email %></li>
				<li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %></li>
    		<% else %>	
				<li><%= link_to "Iniciar Sesion", new_user_session_path %></li>
			<% end %>
		</ul>
	</div>
	</div>
