<p id="notice"><%= notice %></p>

<p>
  <strong>Cod:</strong>
  <%= @product.cod %>
</p>
<p>
  <strong>Imagen:</strong>
  <%= image_tag @product.image.url %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @product.mark.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
